@import '../../variables';
@import '../../mixins';

.navWrapper {
    @include flexRow;
    width: 100%;
    margin: 15px 0;
}

.navItem {
    @include linkUnderline;

    &:hover {
        & ~ .activeNavItem {
            background-size: 4px 4px;
        }
    }

    &:not(:first-child) {
        margin-left: 14px;
    }
}

.activeNavItem {
    background-size: 4px 50px;
}
